<section class="hero-section">
  <div class="hero-content">
    <div class="text-contetnt">
      <h1 class="title">Human stories & ideas</h1>
      <p class="subtitle">A place to read, write, and deepen your understanding</p>
      <app-auth-action
        label = "Get Started"
        mode = "register"
        styleType="button">
      </app-auth-action>
    </div>
    <div class="image-content">
      <img
        src="assets/images/hero.png"
        alt="Landing page image"
        class="hero-image" />
    </div>
  </div>
</section>
