<div class="user-icon-container">
  <button
    class="user-icon-button"
    (click)="toggleDropdown($event)"
    aria-label="User menu"
    aria-haspopup="true"
    [attr.aria-expanded]="isDropdownOpen"
  >
    <ng-container *ngIf="user as userData">
      <div class="default-avatar">
        {{ getInitials(userData.usuario) || '?' }}
      </div>
    </ng-container>
  </button>

  @if (isDropdownOpen) {
    <app-user-dropdown
      [user]="user"
      (navigate)="navigate.emit($event)"
      (signOut)="signOut.emit()"
    />
  }
</div>
