@use '../../../../styles/variables';

.logged-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: variables.$header-height;
  background-color: variables.$dark-background-color;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
}

.header-content {
  width: 100%;
  max-width: variables.$spacing-max-width;
  margin: 0 auto;
  padding: 0 variables.$spacing-md;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  flex: 1;

  .logo {
    display: flex;
    align-items: center;

    img {
      height: 24px;
      width: auto;
    }
  }
}

.conditional-content-container {
  flex: 2;
  display: flex;
  justify-content: center;
}

.user-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
