// Light Theme
$light-text-color: #040316;
$light-background-color: #fefefe;
$light-primary-color: #532b88;
$light-secondary-color: #c7afe4;
$light-accent-color: #6e30bb;

// Dark Theme
$dark-text-color: #eae9fc;
$dark-secondary-text-color: #3c3b3f;
$dark-background-color: #15130f;
$dark-primary-color: #a077d4;
$dark-secondary-color: #331b50;
$dark-accent-color: #8344cf;
