@use '../../../../styles/variables';

.post-card {
  position: relative;
  padding-top: 48px;
  display: block;
  padding: 24px 0;
  border-bottom: 1px solid variables.$dark-text-color;
  transition: all 0.2s ease;

  &:hover {
    border-bottom-color: variables.$dark-text-color;
  }

  &:last-child {
    border-bottom: none;
  }
}
